APP_NAME="Plataforma DSS"
APP_ENV=local
APP_KEY=base64:
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=plataforma_dss
DB_USERNAME=postgres
DB_PASSWORD=

LOG_CHANNEL=stack

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
